body {
  --twitter-color: #50b7f5;
  --twitter-background: #e8f5fe;
}

/* App.jsx changes */
.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  overflow-y: hidden;
  /* //margin auto can add more and more margin in order to get div in center */
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

/* App.jsx changes ends */

/* Sidebar */
.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.3;
  /* min-width: 250px; */
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.sidebar .sidebar_twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}
.user_account {
  display: flex;
  align-items: center;

  margin: 10px;
  gap: 1rem;
}
.user__details h4 {
  color: gray;
  font-weight: 500;
}
.more_options {
  align-items: center;
  margin-left: 50px;
  border-radius: 50%;
  color: gray;
}
.more_options:hover {
  color: black;
  cursor: pointer;
}

/* Sidebar  Ends */

/* Popup */
/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
}

.box {
  flex: 0.3;
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  /* background: #ededed; */
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  /*   */
  font-size: 20px;
}
/* Popup Ends */

/* SidebarOptions */
.sidebarOption {
  display: flex;
  align-items: center;
  /* gap: 0.5rem; */
  cursor: pointer;
  /* transition: 100ms; */
}
.sidebarOption:hover {
  background-color: var(--twitter-background);
  color: var(--twitter-color);
  border-radius: 30px;
  transition: color 100ms ease-out;
}
.sidebarOption .MuiSvgIcon-root {
  padding: 20px;
}
.sidebarOption > h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}
/* //toggling active tab */
.sidebarOption--active {
  color: var(--twitter-color);
}

.sidebar__tweet {
  /* important because wae are overiding on mui */
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}
/* SidebarOptions Ends */

/* Feed Component  */

/* hide scrollbar */
.feed::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.feed {
  -ms-overflow-style: none; /*IE and Edge*/
  scrollbar-width: none; /*Firefox * */
}
.feed {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
  background-color: var(--twitter-background);
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}
.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}
/* Feed Component Ends */

/* Widget bar */
.widgets {
  flex: 0.3;
}

/* Widget bar Ends */

/* Tweet Box  */
.tweetBox {
  padding-bottom: 10px;
  margin: 10px;
  /* border-bottom: 8px solid var(--twitter-background); */
  padding-right: 10px;
  background-color: white;
  border-radius: 20px;
}

.tweetBox form {
  display: flex;
  flex-direction: column;
}
.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.tweetBox__imageInput {
  border: none;
  padding: 10px;
  outline: none;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 40px !important;
  width: 80px;
  margin-top: 20px !important;
  margin-left: auto !important;
}
/* Tweet Box Ends */

/* Post */
.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: white;
}
.post__avatar {
  padding: 10px;
}
.post__headerText {
  font-size: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post__headerText .delete-post {
  color: gray;
  margin: 5px;
  transition: 300ms;
  border-radius: 50%;
}

.post__headerText .delete-post .MuiSvgIcon-root {
  font-size: 20px;
}
.delete-post:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.post__header {
  margin-bottom: 10px;
}
.post__badge {
  font-size: 1rem !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__body {
  flex: 1;
  padding: 10px;
}
.post__body > img {
  border-radius: 20px;
  /* width: 100%; */
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post__footer .MuiSvgIcon-root {
  padding: 5px !important;
  color: #4b4b4b;

  /* background-color: #50b7f5 !important; */
  border-radius: 50%;
  transition: 150ms ease-in-out;
}
.post__footer .MuiSvgIcon-root:hover {
  background-color: var(--twitter-background);
  color: var(--twitter-color);
  cursor: pointer;
}
.post__footer .MuiSvgIcon-root:nth-child(3):hover {
  color: red;
  /* color: white; */
}
/* Post ends */

/*Widgets starts*/
.widgets {
  flex: 0.3;
}
.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  gap: 0.5rem;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}
.widgets__input > input {
  border: none;
  background-color: var(--twitter-background);
  outline: none;
  font-size: 1rem;
}

.widgets__searchIcon {
  color: gray;
}
.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}
.widgets__widgetContainer > div {
  margin-bottom: 20px;
}
/* .widgets__widgetContainer > div::-webkit-scrollbar {
  width: 3px !important;
} */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
.widgets__widgetContainer > h2 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
}

/*Widgets starts Ends*/
